.places-block {
    width: 100px;
    height: 50px;
    margin: 10px 15px;
    position: relative;
    display: inline-block;
}

.places-block.busy:after {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    background-color: #000;
    opacity: 0.5;
}