#app {

}

.app-block {
    width: 100vw;
    height: 100vh;

}

.app-block h1 {
    width: 100%;
    margin: 0;
    padding: 0.3em;
    font-size: 3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.app-block hr {
    border: none;
    height: 2px;
    background-color: cornflowerblue;
}