.parking-block {
    margin: 0;
    padding: 0;
}

.parking-type-block {
    border-bottom: 2px solid #cc4d5a;
    padding: 10px 10px;
}
.parking-type-block:last-child {
    border-bottom: none;
}

.parking-type-block h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}