.tool-bar {
    width: 100%;
    padding: 5px;
    text-align: left;
}
.tool-bar .button-group{
    width: 150px;
    display: inline-block;
    text-align: center;
}
.tool-bar .button-group .title{
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.tool-bar .button-group .button{
    padding: 5px;
    background-color: darkorange;
    font-size: 1.5em;
    line-height: 1em;
    color: white;
    display: inline-block;
    margin: 2px;
    width: 40px;
    cursor: pointer;
}
